.col-xs-golden-large,
.col-sm-golden-large,
.col-md-golden-large,
.col-lg-golden-large,
.col-xs-golden-small,
.col-sm-golden-small,
.col-md-golden-small,
.col-lg-golden-small {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}
.col-xs-golden-large {
  width: 61.803398874989476%;
}
.col-xs-golden-small {
  width: 38.196601125010524%;
}
.col-xs-pull-golden-large {
  right: 61.803398874989476%;
}
.col-xs-pull-golden-small {
  right: 38.196601125010524%;
}
.col-xs-push-golden-large {
  left: 61.803398874989476%;
}
.col-xs-push-golden-small {
  left: 38.196601125010524%;
}
.col-xs-offset-golden-large {
  margin-left: 61.803398874989476%;
}
.col-xs-offset-golden-small {
  margin-left: 38.196601125010524%;
}
@media (min-width: 768px) {
  .col-sm-golden-large {
    width: 61.803398874989476%;
  }
  .col-sm-golden-small {
    width: 38.196601125010524%;
  }
  .col-sm-pull-golden-large {
    right: 61.803398874989476%;
  }
  .col-sm-pull-golden-small {
    right: 38.196601125010524%;
  }
  .col-sm-push-golden-large {
    left: 61.803398874989476%;
  }
  .col-sm-push-golden-small {
    left: 38.196601125010524%;
  }
  .col-sm-offset-golden-large {
    margin-left: 61.803398874989476%;
  }
  .col-sm-offset-golden-small {
    margin-left: 38.196601125010524%;
  }
}
@media (min-width: 992px) {
  .col-md-golden-large {
    width: 61.803398874989476%;
  }
  .col-md-golden-small {
    width: 38.196601125010524%;
  }
  .col-md-pull-golden-large {
    right: 61.803398874989476%;
  }
  .col-md-pull-golden-small {
    right: 38.196601125010524%;
  }
  .col-md-push-golden-large {
    left: 61.803398874989476%;
  }
  .col-md-push-golden-small {
    left: 38.196601125010524%;
  }
  .col-md-offset-golden-large {
    margin-left: 61.803398874989476%;
  }
  .col-md-offset-golden-small {
    margin-left: 38.196601125010524%;
  }
}
@media (min-width: 1200px) {
  .col-lg-golden-large {
    width: 61.803398874989476%;
  }
  .col-lg-golden-small {
    width: 38.196601125010524%;
  }
  .col-lg-pull-golden-large {
    right: 61.803398874989476%;
  }
  .col-lg-pull-golden-small {
    right: 38.196601125010524%;
  }
  .col-lg-push-golden-large {
    left: 61.803398874989476%;
  }
  .col-lg-push-golden-small {
    left: 38.196601125010524%;
  }
  .col-lg-offset-golden-large {
    margin-left: 61.803398874989476%;
  }
  .col-lg-offset-golden-small {
    margin-left: 38.196601125010524%;
  }
}
