/*html, body {
    height: 100%;
}*/

@ambient: #F5FAFF;
@bold: #142850;
@highlight: #C3E1FF;
@blue: #8FB1D4;
@red: #8C001E;


body {
  background-color: @ambient;
}

.row {
  padding-top: 26px;
  padding-bottom: 26px;
}

.img-rounded {
  padding-bottom: 26px;
}

#splash {
  background-color: @blue;
  /*margin-top: 300px;
  margin-bottom: 20%;*/
  margin-top: 25vh;
  margin-bottom: 5vh;
  padding-top: 10vh;
  padding-bottom: 5vh;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  color: @highlight;
}

h1 > b {
  font-family: 'Lobster Two', cursive;
  font-weight: 700;
  font-style: italic;
  font-size: 44px;
  color: @bold;
}

#name {

}

.about {
  background-color: @red;
}

#projects {

}

.project2 {
  background-color: @blue;
}

.project3 {
  background-color: @red;
}

#aim {
  padding-top: 10%;
  padding-bottom: 20%;
}

#aim .row {
  background-color: @blue;
  height: 425px;
}

nav {
  width: 100%;
  z-index: 1030;
  background-color: @ambient;
}
.nav-fixed-top {
  position: fixed;
  top: 0;
  z-index: 1030;
  border-radius: 0;
}
.nav-center {
  width: 100%;
  text-align: center;
}

.nav {
  margin: 0;
  display: block;
}

.nav > li {
  display: inline-block;
}

.nav > li > a {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: @highlight;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  font-weight: 700;
}

@media (min-width: 768px) {
  nav {
    /*margin-top: 149px;
    margin-bottom: 99px;*/
    margin-top: 15vh;
    margin-bottom: 5vh;
    border-top: 1px solid @highlight;
    border-bottom: 1px solid @highlight;
  }
  .nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .nav {
    background-color: @ambient;
  }
  .nav > li {
    height: 80px;
    width: 32.9%;
    border-right: 1px solid @highlight;
    border-bottom: 1px solid @highlight;
    font-size: 1.5rem;
    padding-top: 20px;
    padding-bottom: 12px;
  }
  .nav > li:last-child {
    border-right: none;
  }
  .nav > li > a {
    color: @highlight;
  }
}