/* ================================ */
/* ! Layout for XL desktop version  */
/* ================================ */
  

.feature {
  background: #999 url("../testPic.jpg") no-repeat center center;
  background-size: 100%; background-size: cover;
  background-attachment: fixed;
  height: 1330px; height: 83.125rem;
  margin: 0;  
}

.ifpospwb {
  opacity: 1;
}

/*#logo h1 a {
display: block;
float: left;
position: absolute;
top: 35px; top: 2.1875rem;
text-indent: -9999px;
background: url("../images/flying_heart_logo_32x26.gif") no-repeat;
width: 32px;
height: 26px;
}

#logo h1 a:hover {
background: url("../images/flying_heart_logo_32x26_blue.gif") no-repeat;
opacity: .5;
}

nav {
width: 100%;
float: left;
border-bottom: 1px solid rgba(255, 255, 255, .3);
}

  nav ul {
  display: inline-block;
  float: right;
  }
  
    nav ul li {
    list-style: none;
    float: right;
    margin: 30px 0 30px 50px; margin: 1.875rem 0 1.875rem 3.125rem;
    font-family: "Lato", Arial, sans-serif;
    font-size: .8125em;
    font-weight: 400;
    text-transform: uppercase;
    }
    
      nav ul li a,
      nav ul li a:hover,
      nav ul li a:visited {
      color: #fff;
      text-decoration: none;
      }
      
      nav ul li a:hover {
      opacity: .5;
      }

.headline,
.error {
display: table-cell;
vertical-align: middle;
font-family: "ProximaNovaA-Extrabld", Arial, sans-serif;
font-size: 18em;
line-height: .9em;
letter-spacing: .05em;
text-transform: uppercase;
text-align: center;
color: #fff;
position: absolute; /* Break headline beyond L/R of edges of grid 
left: 0;
right: 0;
margin-top: 350px; margin-top: 21.875r em;
}

h2 {
margin-bottom: 30px; margin-bottom: 1.875rem;
font-family: "ProximaNovaA-Extrabld", Arial, sans-serif;
font-size: 3.25em;
font-weight: normal;
line-height: 1.2em;
color: #fff;
text-align: center;
text-transform: uppercase;
}

.who {
background: #fff url("../images/struckaxiom.png") repeat center;
background-position-y: 39px;
background-position-y: 2.4375rem;
}

  .who .row {
  padding: 120px 0 120px 0; padding: 7.5rem 0 7.5rem 0;
  text-align: center;
  }
  
  .who .eightcol {
  font-family: "Merriweather", Arial, serif;
  font-size: 1.2em;
  line-height: 2em;
  font-weight: 300;
  }
  
  .who h2 {
  color: #bebebe;
  }

.how {
background: #0d0d0d url("../images/how_image.jpg") no-repeat center center;
background-size: cover;
background-attachment: fixed;
margin: 0;  
}

  .how .row {
  padding: 150px 0 145px 0; padding: 9.375rem 0 9.0625rem 0;
  }
  
  .how .research {
  background: url("../images/venn.png") no-repeat center top;
  }
  
  .how .design {
  background: url("../images/golden_rectangle.png") no-repeat center top;
  }
  
  .how .iterate {
  background: url("../images/golden_triangle.png") no-repeat center top;
  }
  
  .how h2 {
  text-align: center;
  color: #fff;
  }
  
  .how h3 {
  font-family: "Merriweather", Arial, serif;
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
  margin: 180px 0 20px 0; margin: 11.25rem 0 1.25rem 0;
  color: #fff;
  }
  
  .how p {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: .875em;
  text-align: center;
  margin: .5em 6.75% .5em 6.75%;
  color: rgba(255, 255, 255, .4);
  }

.work {
background-color: #f3f3f3;
}

  .work .row {
  padding: 200px 0 0 0;
  }
  
  .work .project,
  .work .project1 {
  padding: 150px 0 145px 0; padding: 9.375rem 0 9.0625rem 0;
  border-bottom: 1px dotted rgba(0, 0, 0, .15);
  }
  
  .work .project1 {
  padding-top: 0;
  }
  
  .work .twelvecol {
  text-align: center;
  }
  
    .work .twelvecol img {
    width: 82.7%;
    margin-bottom: 40px;
    margin-bottom: 2.5rem;
    }
  
  .work h2 {
  text-align: center;
  color: #999;
  }
  
  .work h3 {
  font-family: "Merriweather", Arial, serif;
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
  margin: 0;
  color: #333;
  }
  
  .work p {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: .875em;
  text-align: center;
  margin: .5em 13.45% .5em 13.45%;
  color: #666;
  }
  
  .work img.hero {
  width: 75%;
  }

p.metadata {
text-align: center;
font-family: "Lato", Arial, sans-serif;
font-size: .75em;
margin-bottom: 0;
text-transform: uppercase;
color: #cbcbcb;
margin-bottom: 20px;
}

.contact {
background-color: #318ec3;
}

  .contact .row {
  padding: 240px 0 240px 0; padding: 15rem 0 15rem 0;
  }
  
  .contact h2 {
  margin-bottom: 20px;
  }

.footer {
height: 100px; height: 6.25rem;
background: #272727 url("../images/twinkle_twinkle.png") repeat;
font-family: "Lato", Arial, sans-serif;
font-size: .8125em;
font-weight: 400;
text-transform: uppercase;
line-height: 100px; line-height: 6.25rem;
color: #333;
text-align: center;
}

.footer a {
text-decoration: none;
color: #333;
}

.footer a:hover {
color: #318ec3;
}




/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

@media handheld, only screen and (max-width: 1680px) {

.feature {
background: #999 url("../images/feature_image.jpg") no-repeat center center;
background-size: 100%; background-size: cover;
background-attachment: fixed;
height: 850px; height: 53.125rem;
margin: 0;  
}

.headline,
.error {
display: table-cell;
vertical-align: middle;
width: 1140px;
height: 710px; height: 44.375rem;
font-family: "ProximaNovaA-Extrabld", Arial, sans-serif;
font-size: 11em;
line-height: .9em;
letter-spacing: .05em;
text-transform: uppercase;
text-align: center;
color: #fff;
position: static;
}

  .who .row {
  padding: 80px 0 80px 0; padding: 5rem 0 5rem 0;
  text-align: center;
  }

  .how .row {
  padding: 100px 0 95px 0; padding: 6.25rem 0 5.9375rem 0;
  }

  .work .row {
  padding: 100px 0 0 0;
  }
  
  .work .project,
  .work .project1 {
  padding: 100px 0 95px 0; padding: 6.25rem 0 5.9375rem 0;
  border-bottom: 1px dotted rgba(0, 0, 0, .15);
  }
  
  .contact .row {
  padding: 160px 0 160px 0; padding: 10rem 0 10rem 0;
  }
  
}




/* ============================= */
/* ! Layout for tablet version   */
/* ============================= */

@media handheld, only screen and (max-width: 1025px) {

.feature{
background: #999 url("../images/feature_image_1024.jpg") no-repeat center center;
background-attachment: scroll;
height: 650px; height: 40.625rem;
margin: 0; 
}

.headline,
.error {
font-size: 9em;
height: 550px; height: 34.375rem;
}

.contact h2 {
font-size: 2.75em;
}

}




/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 768px) {

h2 {
font-size: 2.5em;
}

.button_primary a {
width: inherit;
}
  
.feature {
background: #999 url("../images/feature_image_1024.jpg") no-repeat center center;
height: 510px; height: 31.875rem;
margin: 0;    
}

#logo h1 a {
display: block;
float: left;
position: absolute;
top: 25px;
left: 20px;
background: url("../images/flying_heart_logo_32x26.gif") no-repeat;
background-size: 50%;
margin: 0 auto 0 auto;
}

#logo h1 a:hover {
background: url("../images/flying_heart_logo_32x26_blue.gif") no-repeat;
background-size: 50%;
}

nav ul li {
font-size: .625em;
margin: 15px;
}

.headline,
.error {
height: 430px; height: 26.875rem;
font-size: 4em;
line-height: 1em;
/* text-align: left; */
}

.who {
background-position: left;
background-position-x: -42px;
background-position-y: 39px;
}

  .who .row {
  padding: 50px 0 50px 0;
/*  text-align: left; */
  }
    
  .who p {
  padding: 0;
  font-size: .75em;
  }

.how {
background: #999 url("../images/how_image_1024.jpg") no-repeat center center;
background-size: cover; 
background-attachment: scroll;
height: 100%;
margin: 0;    
}

  .how .row {
  padding: 50px 0 0 0; padding: 3.125rem 0 0 0;
  } 
  
  .how .research, 
  .how .design,
  .how .iterate {
  background-position-y: 20px;
  padding-top: 180px; padding-top: 11.25rem;
  padding-bottom: 40px; padding-bottom: 2.5rem;
  border-bottom: 1px dotted rgba(255, 255, 255, .15);
  }
  
  .how .research {
  background-position-y: 0;
  padding-top: 155px; padding-top: 9.6875rem;
  }
  
  .how h2{
/*  text-align: left; */
  margin-bottom: 0;
  }
  
  .how h3 {
  font-size: 1.5em;
  font-weight: 300;
/*  text-align: left; */
  margin: 0 0 20px 0;
  color: rgba(255, 255, 255, .9);
  }
  
  .how p {
/*  text-align: left; */
  margin: .5em 0 .5em 0;
  }

.work {
height: 100%;
}

  .work .row {
  padding: 50px 0 0 0; padding: 3.125rem 0 0 0;
  } 
  
  .work .project,
  .work .project1 {
  padding: 50px 0 50px 0; padding: 2.5rem 0 2.5rem 0;
  border-bottom: 1px dotted rgba(0, 0, 0, .15);
  }
  
  .work .project1 {
  padding-top: 0;
  }
  
  .work .twelvecol img {
  width: 82.7%;
  margin-bottom: 20px; margin-bottom: 1.25rem;
  }
  
  .work h2,
  .work h3,
  .work p {
/*  text-align: left; */
  }
  
  .work p {
  margin: .5em 0 .5em 0;
  }

.contact .row {
padding: 50px 0 100px 0; padding: 3.125rem 0 6.25rem 0;
}
  
.contact h2 {
font-size: 4em;
line-height: 1em;
margin: 1em 0 .5em 0;
/* text-align: left; */
color: #fff;
}

p.metadata {
/* text-align: left; */
margin-bottom: 20px; margin-bottom: 1.25rem;
}
  
  
}




/* =============================================== */
/* ! Provide higher res assets for Retina iPhone   */
/* =============================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

.who {
background: #fff url("../images/struckaxiom_@2X.png") repeat;
background-size: 81px;
background-position-x: -42px;
background-position-y: 39px;
}

.footer {
background: #272727 url("../images/twinkle_twinkle_@2X.png") repeat;
background-size: 360px;
}

}




.left {
float: left;
}

.right {
float: right;
}

.invisible {
display: none;
}




/* =============================================== */
/* ! Grid overlay   */
/* =============================================== */

.ontop {
position: fixed;
z-index: 9999;
margin: 0 auto;
left: 0;
right: 0;
pointer-events: none;
}

.grid {
background: rgba(204,0,255,.2);
height: 5000px;
}*/