/*html, body {
    height: 100%;
}*/

#content {
  /*padding-top: 70px;*/
}

.row {
  padding-top: 26px;
  padding-bottom: 26px;
}

.img-rounded {
  padding-bottom: 26px;
}

#splash {
  padding-top: 70px;
  padding-bottom: 20%;
}

.splash {
  background-color: lightblue;
  padding-top: 5%;
  padding-bottom: 10%;
}

#name {

}

.about {
  background-color: red;
}

#projects {

}

.project2 {
  background-color: blue;
}

.project3 {
  background-color: green;
}

#nav {
  /*background-color: #f8f8f8;
  border-color: #e7e7e7;*/
}

#nav .relative {
  position: relative;
}


#nav .navbar-nav > li > a {
  color: #777777;
}

#nav .navbar-nav > li > a:hover,
#nav .navbar-nav > li > a:focus {
  color: #333333;
  background-color: transparent;
}

#nav .navbar-toggle {
  /*border-color: #dddddd;*/
}

#nav .navbar-toggle:hover,
#nav .navbar-toggle:focus {
  background-color: #dddddd;
}

#nav .navbar-toggle .icon-bar {
  background-color: #cccccc;
}

#nav .navbar-link {
  color: #777777;
}

#nav .navbar-link:hover {
  color: #333333;
}