!!! 5
html(lang='en')
  head
    block head
      title
        block title
          = locals.title
      meta(name='viewport', content='width=device-width, initial-scale=1.0')

      // Bootstrap
      // link(href='css/bootstrap.min.css', rel='stylesheet', media='screen')
      link(href='css/custom.css', rel='stylesheet', media='screen')

      // !!! THESE DON'T EXIST!!!

      // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
      // if lt IE 9
      // script(src="../../assets/js/html5shiv.js")
      // script(src="../../assets/js/respond.min.js")

      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.title)

      // link(rel='stylesheet', href='/css/main.css')

      link(href="http://fonts.googleapis.com/css?family=Amarante", rel="stylesheet", type="text/css")

      link(href="http://fonts.googleapis.com/css?family=Lobster+Two:400,400italic,700,700italic", rel="stylesheet" type="text/css")
      
      link(href="http://fonts.googleapis.com/css?family=Quicksand:300,400,700", rel="stylesheet" type="text/css")

      link(href="http://fonts.googleapis.com/css?family=Lobster", rel="stylesheet" type="text/css")

      link(href="http://fonts.googleapis.com/css?family=Raleway", rel="stylesheet" type="text/css")

  body(data-spy="scroll", data-target="#index")
    block body

    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src="libs/jquery-2.0.3.min.js")
    // Include all compiled plugins (below), or include individual files as needed
    script(src="js/bootstrap.min.js")
    script(src="js/main.js")