extends baseLayout

block body
  - var index = contents['index.json'].metadata;
  - var me = contents.authors['baker.json'].metadata;
  div.container
    nav(role="navigation")
      div.navbar-custom
        ul.nav-center
          li
            a !{index.headerLinks.blog.label}
          li
            a !{index.headerLinks.resume.label}
          li
            a !{index.headerLinks.twitter.label}
    div#splash
      h1 HELLO
    div.content
      div.block
        div.block-content
          div.block-preview Hey, my name is Joe Mercer.
      div.block
        div.block-header
        div.block-content
          div.block-preview
            | Hey, my name is Joe Mercer.
          div.block-full.hide
            | Hey, my name is Joe Mercer. I grew up in Redmond, WA but currently I study Mathematics at the University of Waterloo.
        div.block-footer
          span.glyphicon.glyphicon-plus.expand
      div.block
        div.block-header
        div.block-content
          div.block-preview
            | some crazy ass preview text
          div.block-full.hide
            | even more text that would be shown in the expanded version of this crazy ass block
        div.block-footer
          span.glyphicon.glyphicon-plus.expand
      div.block !{index.about.sections.main.html}
      div.block.expanded D
      div.block A
      div.block B
      div.block C
      div.block D
      div.block A
      div.block B
      div.block C
      div.block D
      div.clearfix
